*.pyc
igp_artistant.pyproj
igp_artistant.sln
.vs/igp_artistant/CopilotIndices/17.13.439.2385/CodeChunks.db
.vs/igp_artistant/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
.vs/igp_artistant/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
.vs/igp_artistant/CopilotIndices/17.13.439.2385/SemanticSymbols.db
.vs/igp_artistant/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
.vs/igp_artistant/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
.vs/igp_artistant/FileContentIndex/6b7e99dd-2cc0-4760-8df8-d575433f0cf7.vsidx
.vs/igp_artistant/v17/.suo
.vs/igp_artistant/v17/DocumentLayout.backup.json
.vs/igp_artistant/v17/DocumentLayout.json
